<app-header></app-header>

<h4 class="header">Who Are We?</h4>
<div class="container">
  <p>
    Are you hungry? Food is after all the holy grail in society, ranging from
    authentic Mexican food to traditional Ethipoian Food. We are a Food Delivery
    App that showcases all kinds of food you are craving right now! As front-end
    graduates, we want our users to get a similar real-life experience on what
    is like to be on a Food Delivery App, showcasing not just one type of
    cuisine but all types of cuisine around the world!!
  </p>
</div>

<h4 class="header">Who are the Designers?</h4>
<div class="intro">
  <h5>Andre Jackson</h5>
  <p>Your Intro (fill in)</p>
  <h5>Roniya Rojan</h5>
  <p>
    Hey! My name is Roniya Rojan, and I am 2020 graduate from Grand-Circus
    Coding Bootcamp! I am a passionate learner in software development. I am
    skilled in Front-End Development, ranging from HTML5/CSS to Angular and
    Javascript. I am eager to learn more, and hopefully become a Full-Stack
    Developer in the next five years! I am an individual who finds food as
    comfort and an experience. I love trying new cuisines, learning the culture
    as well!
  </p>
</div>
